
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Antcolony 蚁群团队管理系统 - 注册</title>
    <meta name="keywords" content="Antcolony 蚁群团队管理系统">
    <meta name="description" content="Antcolony 蚁群团队管理系统">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/HPlus/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/HPlus/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/HPlus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/HPlus/css/animate.css" rel="stylesheet">
    <link href="~/HPlus/css/style.css?v=4.1.0" rel="stylesheet">
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name" style="transform: translateX(-30%);font-size: 100px;">Antcolony</h1>

            </div>
            <h3>欢迎使用 Antcolony 蚁群团队管理系统</h3>
            <p>创建一个 Antcolony 新账户</p>
            <form class="m-t" role="form" id="form1">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="请输入用户名" required="">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" class="form-control" placeholder="请输入您的电话号码" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="pwd" class="form-control" placeholder="请输入密码" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="pwd1" class="form-control" placeholder="请再次输入密码" required="">
                </div>
                <div class="form-group text-left">
                    <div class="checkbox i-checks">
                        <label class="no-padding">
                            <input type="checkbox"><i></i> 我同意注册协议
                        </label>
                    </div>
                </div>
                <button type="button" id="RegisterButton" class="btn btn-primary block full-width m-b">注 册</button>

                <p class="text-muted text-center">
                    <small>已经有账户了？</small><a href="/LoginHandle/LoginPage">点此登录</a>
                </p>

            </form>
        </div>
    </div>

    <!-- 全局js -->
    <script src="~/HPlus/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/HPlus/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- iCheck -->
    <script src="~/HPlus/js/plugins/iCheck/icheck.min.js"></script>
    <script>$(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>
    
    <!--统计代码，可删除-->
    <script type="text/javascript">
        $(function () {
            if (form1.pwd.value != form1.pwd1.value) {
                alert("注册失败!");
                return;
            }
            $("#RegisterButton").click(function () {
                $.post("/LoginHandle/RegisterNow", { username: form1.username.value, pwd: form1.pwd.value, phone: form1.phone.value }, function (data) {
                    if (data.code == 200) {
                        document.cookie = "VailCode=" + data.value.tokenStr;
                        alert("注册成功");
                        setTimeout(function () {
                            location.href = "/Home/Index";
                        }, 2000);
                    } else {
                        alert("注册失败！Msg:" + data.message);
                    }
                })
            })
        })

    </script>

</body>

</html>

